// @import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Vollkorn:wght@400;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    // background: black;
    // color: white;
}
html { scroll-behavior: smooth; }
.modal-content {
    width: calc(100vw - 20vw);
    @media only screen and (max-width: 768px) {
        width: calc(100vw - 10vw);
    }
}